
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
	width: 99%;
	height: 99%;
}

.growing {
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  color: black;
  background-size: cover;
  font-family: Product Sans;
  font-weight: bold;
  text-align: left;
  transition: all 250000s linear;
  
}

.is-growing {
  transform: scale(1000);
}


.title, .one, .two, .three, .four, .five, .six, .seven, .eight{
  position: fixed;

}

.title{
  margin-top: 0px
  }

.one{
  margin-top: 40px;
}

.two{
  margin-top: 60px;
}

.three{
  margin-top: 120px;
}

.four{
  margin-top: 180px;
}

.five{
  margin-top: 270px;
}

.six{
  margin-top: 335px;
}

.seven{
  margin-top: 380px;
}

.eight{
  margin-top: 560px;
}



a:link {
    color: black;
    text-decoration: none;
}

a:visited {
  color: black;
    text-decoration: none;
}

a:hover {
  color: black;
    text-decoration: underline;
}

a:active {
  color: black;
    text-decoration: underline;
}