body{
	text-align: left;
	background-image: url("assets/blue-bricks.jpg");
	color: yellow;
	margin-left: 5%;	
}

.cory, .fuck{
	font-size: 5.5vw;
	text-decoration: underline;
}

.cool{
	padding: 5px;	
}

.counter{
	padding: 20px;
}

.fuck {
	display: none;
	font-size: 10vw;
}

a:link {
	color: yellow;
	text-decoration: none;
}

a:visited {
	color: yellow;
 }

a:hover {
   color: yellow;
}

a:active {
	color: yellow;
}